body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    background: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 40px;
    background: #ffffff;
    margin-top: 62px;
    box-sizing: border-box;
    box-shadow: 0 0 10px lightgrey;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#selectBox {
    padding: 15px;
    margin: 5px 10px 10px 0;
    display: inline-block;
    border: 2px;
    background: #E8E8E8;
    color: grey;
    border-radius: 5px;
    width: 170px;
    
}
#selectBox:focus {
    background-color: white;
    outline: 3px solid #50C878;
}
#selectBox:hover {
    cursor: pointer;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
hr {
    height: 2px;
    color: grey;
    background-color: #ddd;
    border: none;
}
.error {
    color: red;
    font:bold;
    font-size: 14px;
}
input[type = password], input[type = email] {
    width: 390px;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 2px;
    background: #E8E8E8;
    color: #484848;
    border-radius: 5px;
}
.column {
    float: left;
    width: 50%;
}
input[type = text], input[type = tel] {
    padding: 15px;
    margin: 5px 10px 10px 0;
    display: inline-block;
    border: 2px;
    background: #E8E8E8;
    color: #484848;
    width: 170px;
    border-radius: 5px;
}
input[type = checkbox] {
    color: #484848;
    text-decoration-color: black;
    padding: 15px;
    display: inline-block;
    border: 2px;
    border-radius: 5px;
    left: 0;
    top: 0;
}
input[type = "submit"] {
    width: 150px;
    padding: 15px;
    background: deepskyblue;
    margin: 5px 0 0 0;
    display: inline-block;
    border: 2px;
    border-radius: 5px;
    color: white;
    size: 100px;
    cursor: pointer;
}
input[type = "submit"]:hover {
    background: darkblue;
}
input[type = text]:focus, input[type = password]:focus, input[type = email]:focus, input[type = tel]:focus {
    background-color: white;
    outline: 3px solid #50C878;
}
input[type = checkbox]:hover {
    cursor: pointer;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

select :click{
  background-color: black;
}
#signin:hover {
    cursor: pointer;
}